.forgotpassword-page {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #64e3dd, #f188a9);
    position: relative;
    overflow: hidden;
}

.forgotpassword-page::before,
.forgotpassword-page::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.5;
}

.forgotpassword-page::before {
    width: 300px;
    height: 300px;
    background: #6366f1;
    top: -100px;
    left: -100px;
}

.forgotpassword-page::after {
    width: 350px;
    height: 350px;
    background: #a5b4fc;
    bottom: -120px;
    right: -120px;
}

.forgotpassword-card {
    border-radius: 12px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    border: 1px solid #e5e7eb;
    position: relative;
    z-index: 1;
    width: auto;
}


.forgotpassword-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotpassword-title {
    color: #4f46e5;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
}

.forgotpassword-subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 15px;
}


.forgotpassword-input {
    outline: none;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    margin-top: 16px;
    width: 250px;
    color: black;
    transition: 0.3s;
    box-sizing: border-box;
}

.forgotpassword-input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79,70,229,0.1);
}


.forgotpassword-button {
    margin-top: 40px;
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.forgotpassword-button:hover {
    background-color: #4338ca;
}

.forgotpassword-button:disabled {
    background-color: #a5b4fc;
    cursor: not-allowed;
}

.forgotpassword-back {
    margin-top: 20px;
    color: #4f46e5;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;

    background: none;
    border: none;
    padding: 0;

    outline: none;
    box-shadow: none;
}

.forgotpassword-back:hover {
    text-decoration: underline;
    background: none;  
}

.forgotpassword-back:focus,
.forgotpassword-back:active {
    background: none;
    outline: none;
    box-shadow: none;
}

.forgotpassword-back:hover {
    text-decoration: underline;
}