.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content : center;

    background: linear-gradient(135deg, #eef2ff, #e0e7ff);
    position: relative;
    overflow: hidden;
}

/* SOFT BACKGROUND BLOBS */
.login-container::before,
.login-container::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.5;
}

.login-container::before{
    width: 300px;
    height: 300px;
    background: #6366f1;
    top: -100px;
    left: -100px;
}
.eye-icon{
    position : absolute;
    top:197px;
    left: 300px;
}
.login-container::after{
    width: 350px;
    height: 350px;
    background: #a5b4fc;
    bottom: -120px;
    right: -120px;
}

/* LOGIN BOX */
.login-box{
    border-radius: 12px;
    padding: 40px;

    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);

    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    border: 1px solid #e5e7eb;
} 

.login-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* INPUT */
.input-field{
    outline: none;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    margin-top: 16px;
    width:250px;
    color: black;
    transition: 0.3s;
}

/* FOCUS EFFECT */
.input-field:focus{
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79,70,229,0.1);
}


/* FORGOT */
.forgot{
    margin-top:10px;
    color: #4f46e5 !important;
    cursor: pointer;
    align-self: flex-end;
    font-size: 14px;
}

.forgot:hover{
    text-decoration: underline;
}

/* BUTTON */
.login-button{
    margin-top: 40px;
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover{
    background-color: #4338ca;
}

/* DISABLED */
.login-button:disabled{
    background-color: #a5b4fc;
    cursor: not-allowed;
}

/* REGISTER */
.register-text{
    margin-top: 20px;
    color: #6b7280;
    font-size: 14px;
}

.register-link{
    color: #4f46e5;
    cursor: pointer;
    font-weight: 500;
}

.register-link:hover{
    text-decoration: underline;
}

.login-title {
    color: #4f46e5;
    margin-bottom: 5px;
}

.login-subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 15px;
}